<div class="grid grid-cols-1 md:grid-cols-2 h-[100vh] w-[100vw]">
  <div class="relative bg-black border-4 border-yellow-500">
    <div class="absolute top-0 right-0 w-[20%] h-[23%] bg-yellow-500 flex items-center justify-center text-white border-4 border-black">
      <span class="text-[10vw] text-black font-bold" id="setPlayerOne">{{ setPlayerOne }}</span>
    </div>
    <div class="absolute top-0 left-1/2 transform -translate-x-1/2 w-[50%] h-[15%] bg-black flex items-center justify-center text-white border-4 border-black">
      <div class="flex items-center">
        <span class="text-[4vw] md:text-[3vw] text-yellow-500 font-bold">{{ playerOneName }}</span>
      </div>
    </div>
    <div class="h-full flex items-center justify-center">
      <span class="text-[34vw] md:text-[40vw] lg:text-[31vw] text-yellow-500 font-bold" id="playerOne">{{ playerOne }}</span>
    </div>
  </div>

  <div class="relative bg-black border-4 border-yellow-500">
    <div class="absolute top-0 left-0 w-[18%] h-[23%] bg-yellow-500 flex items-center justify-center text-white border-4 border-black">
      <span class="text-[10vw] text-black font-bold" id="setPlayerTwo">{{ setPlayerTwo }}</span>
    </div>
    <div class="absolute top-0 left-1/2 transform -translate-x-1/2 w-[45%] h-[15%] bg-black flex items-center justify-center text-white border-4 border-black">
      <div class="flex items-center">
        <span class="text-[4vw] md:text-[3vw] text-yellow-500 font-bold">{{ playerTwoName }}</span>
      </div>
    </div>
    <div class="h-full flex items-center justify-center">
      <span class="text-[34vw] md:text-[40vw] lg:text-[31vw] text-yellow-500 font-bold" id="playerTwo">{{ playerTwo }}</span>
    </div>
  </div>
</div>
