<div id="loading-spinner" class="fixed inset-0 flex items-center justify-center bg-gray-100 bg-opacity-50 dark:bg-gray-900 dark:bg-opacity-50 z-50" style="display: none;">
    <svg class="w-16 h-16 text-gray-500 animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
    </svg>
</div>
<div class="overflow-x-auto">
    <div class="mt-2 mb-3 flex flex-col sm:flex-row justify-between items-start sm:items-center">
        <form method="GET" action="{{ path('app_dashboard') }}" class="flex flex-col sm:flex-row w-full sm:w-auto items-start sm:items-center">
            <select name="search_by_tournament" class="border border-gray-300 rounded px-2 ml-3 mr-2 py-1 h-10 w-full sm:w-80 dark:bg-gray-700 dark:text-white dark:border-gray-600">
                <option value="0">Select a tournament</option>
                {% for tournament in tournamentNames %}
                        <option value="{{ tournament.id }}">
                            {{ tournament.tournament_name }}
                        </option>
                {% endfor %}
            </select>
            <select name="search_by_division" class="border border-gray-300 rounded px-2 mr-2 py-1 h-10 w-full sm:w-80 dark:bg-gray-700 dark:text-white dark:border-gray-600">
                <option value="0">Select a division</option>
                {% for division in tournamentDivisions %}
                        <option value="{{ division.division_id }}">
                            {{ division.division_name }}
                        </option>
                {% endfor %}
            </select>
            <button type="submit" class="mt-2 sm:mt-0 sm:ml-2 bg-yellow-500 text-white py-2 px-4 rounded h-10 hover:bg-yellow-600" onclick="showLoadingSpinner()">Search</button>
        </form>
    </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-[60%_40%] gap-4">
    <div class="overflow-x-auto">
        <div class="bg-gray-100 dark:bg-gray-600 p-2 rounded-lg shadow">
            <div class="space-y-2">
                    {% if dashboard_player|length > 0 %}
                        <div class="bg-yellow-400 dark:bg-yellow-400 border border-gray-300 dark:border-yellow-400 dark:text-black rounded-lg p-2 shadow-md w-full">
                            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-[5%_25%_8%_10%_10%_10%_8%_8%_10%] gap-2 justify-center items-center">
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">Rank</span></p>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <div class="font-medium">Member</div>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">Played</span></p>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">Games won</span></p>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">Games lost</span></p>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">%</span></p>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">Sets won</span></p>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">Sets lost</span></p>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">%</span></p>
                                    </div>
                            </div>
                        </div>
                        {% for player in dashboard_player %}
                            <div class="bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 rounded-lg p-2 shadow-md w-full">
                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-[5%_25%_8%_10%_10%_10%_8%_8%_10%] gap-2 items-center">
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">{{ loop.index }}</span></p>
                                    </div>
                                    <div class="ml-4">
                                        <div class="font-semibold text-lg dark:text-white">{{ player.player_name }}</div>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">{{ player.played | default('0') }}</span></p>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">{{ player.matches_won | default('0') }}</span></p>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">{{ player.matches_lost | default('0') }}</span></p>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">{{ player.matches_won_percentage | default('0') }} %</span></p>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">{{ player.sets_won | default('0') }}</span></p>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">{{ player.sets_lost | default('0') }}</span></p>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">{{ player.sets_won_percentage | default('0') }} %</span></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="text-center py-4">There's nothing here yet!</div>
                    {% endif %}
            </div>
        </div>
    </div>

    <div class="flex flex-col justify-between">
        <div class="bg-gray-100 dark:bg-gray-600 p-2 rounded-lg shadow">
            <div class="overflow-x-auto">
                <div class="space-y-2">
                    {% if dashboard_teams|length > 0 %}
                        <div class="bg-yellow-400 dark:bg-yellow-400 border border-gray-300 dark:border-yellow-400 dark:text-black rounded-lg p-2 shadow-md w-full">
                            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-[5%_18%_10%_17%_17%_12%_12%] gap-2 items-center">
                                        <div class="flex justify-center items-center">
                                            <p><span class="font-medium">Rank</span></p>
                                        </div>
                                        <div class="flex justify-center items-center">
                                            <div class="font-medium">Team</div>
                                        </div>
                                        <div class="flex justify-center items-center">
                                            <p><span class="font-medium">Played</span></p>
                                        </div>
                                        <div class="flex justify-center items-center">
                                            <p><span class="font-medium">Games won</span></p>
                                        </div>
                                        <div class="flex justify-center items-center">
                                            <p><span class="font-medium">Games lost</span></p>
                                        </div>
                                        <div class="flex justify-center items-center">
                                            <p><span class="font-medium">Points</span></p>
                                        </div>
                                        <div class="flex justify-center items-center">
                                            <p><span class="font-medium">%</span></p>
                                        </div>
                            </div>
                        </div>
                        {% for team in dashboard_teams %}
                            <div class="bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 rounded-lg p-2 shadow-md w-full">
                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-[5%_18%_10%_17%_17%_12%_12%] gap-2 items-center">
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">{{ loop.index }}</span></p>
                                    </div>
                                    <div>
                                        <div class="font-semibold text-lg dark:text-white">{{ team.team_name }}</div>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">{{ team.played | default('0') }}</span></p>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">{{ team.matches_won | default('0') }}</span></p>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">{{ team.matches_lost | default('0') }}</span></p>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">{{ team.points | default('0') }}</span></p>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <p><span class="font-medium">{{ team.matches_won_percentage | default('0') }} %</span></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="text-center py-4">There's nothing here yet!</div>
                    {% endif %}
                </div>
            </div>
            <div class="bg-gray-200 p-4 rounded-lg shadow mt-4">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-[33%_34%_33%] gap-3 items-center">
                    <p><h2 class="text-lg font-semibold flex justify-center items-center">Teams</h2></p>
                    <div class="h-[140px]">
                        <p><span class="font-medium flex justify-center items-center mb-2">{{dashboard_teams[0].team_name }}</span></p>
                        <div class="flex justify-center items-center"><img src="{{ profiles ~ 'firstPlace.jpg' }}" class="flex justify-center items-center h-[140px] w-[140px] rounded-full ring-2 ring-white dark:ring-gray" /></div>
                        <p><span class="font-medium flex justify-center items-center mt-2">{{dashboard_player[0].player_name }}</span></p>
                    </div>
                    <div class="h-[140px]">
                        <p><span class="font-medium flex justify-center items-center mb-2">{{dashboard_teams[1].team_name }}</span></p>
                        <div class="flex justify-center items-center"><img src="{{ profiles ~ 'secondPlace.jpg' }}" class="flex justify-center items-center h-[140px] w-[140px] rounded-full ring-2 ring-white dark:ring-gray" /></div>
                        <p><span class="font-medium flex justify-center items-center mt-2">{{dashboard_player[1].player_name }}</span></p>
                    </div>
                    <div class="h-[140px]">
                        <p><span class="font-medium flex justify-center items-center mb-2">{{dashboard_teams[2].team_name }}</span></p>
                        <div class="flex justify-center items-center"><img src="{{ profiles ~ 'thirdPlace.jpg' }}" class="h-[140px] w-[140px] rounded-full ring-2 ring-white dark:ring-gray" /></div>
                        <p><span class="font-medium flex justify-center items-center mt-2">{{dashboard_player[2].player_name }}</span></p>
                    </div>
                    <p><h2 class="text-lg font-semibold mt-16 flex justify-center items-center">Players</h2></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showLoadingSpinner() {
        document.getElementById('loading-spinner').style.display = 'flex';
    }

    window.addEventListener('pageshow', function() {
        document.getElementById('loading-spinner').style.display = 'none';
    });
</script>
