<div id="loading-spinner" class="fixed inset-0 flex items-center justify-center bg-gray-100 bg-opacity-50 dark:bg-gray-900 dark:bg-opacity-50 z-50" style="display: none;">
    <svg class="w-16 h-16 text-gray-500 animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
    </svg>
</div>

<div class="overflow-x-auto">
{# <div class="text-[12px] italic">** Please fill out all fields to start your search.</div> #}
<div class="mt-2 mb-3 flex flex-col sm:flex-row justify-between items-start sm:items-center">
    <form method="GET" action="{{ path('app_dashboard_games') }}" class="flex flex-col sm:flex-row w-full sm:w-auto items-start sm:items-center">
        <select name="search_by_tournament" class="border border-gray-300 rounded px-2 py-1 h-10 w-full sm:w-[12rem] dark:bg-gray-700 dark:text-white dark:border-gray-600">
            <option value="tournament_type_name" {{ search_by == 'tournament_type_name' ? 'selected' : '' }}>Tournament name</option>
            <option value="t.start_day" {{ search_by == 't.start_day' ? 'selected' : '' }}>Start day</option>
            <option value="team1_name" {{ search_by == 'team1_name' ? 'selected' : '' }}>Team</option>
            <option value="player_one_name" {{ search_by == 'player_one_name' ? 'selected' : '' }}>Player</option>
            <option value="g.round" {{ search_by == 'g.round' ? 'selected' : '' }}>Round</option>
            <option value="division_name" {{ search_by == 'division_name' ? 'selected' : '' }}>Division</option>
            <option value="g.game_type" {{ search_by == 'g.game_type' ? 'selected' : '' }}>Type</option>
            <option value="table_name" {{ search_by == 'table_name' ? 'selected' : '' }}>Table</option>
        </select>
        <input type="text" name="search_value" value="{{ search_value }}" placeholder="Search" class="mt-2 sm:mt-0 sm:ml-2 w-full sm:w-[12rem] border border-gray-300 rounded px-2 py-1 h-10 dark:bg-gray-700 dark:text-white dark:border-gray-600">
        <div class="relative mt-2 sm:mt-0 sm:ml-2 w-full sm:w-[12rem]">
            <input type="date" name="search_date" class="w-full border border-gray-300 rounded px-2 py-1 h-10 dark:bg-gray-700 dark:text-white dark:border-gray-600">
            <div class="absolute inset-y-0 right-3 flex items-center pointer-events-none">
                <i class="fa-solid fa-calendar-days"></i>
            </div>
        </div>
        <button type="submit" class="mt-2 sm:mt-0 sm:ml-2 bg-yellow-500 text-white py-2 px-4 rounded h-10 hover:bg-yellow-600" onclick="showLoadingSpinner()">Search</button>
    </form>

    <a href="{{ path('app_dashboard_create_game') }}" class="mt-2 sm:mt-0 bg-yellow-500 text-white py-2 px-4 rounded h-10 hover:bg-yellow-600 flex items-center justify-center" onclick="showLoadingSpinner()">Create</a>
</div>
    <div class="space-y-2">
    {% if tournament_games|length > 0 %}
        {% for games in tournament_games %}
            <div class="bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 rounded-lg p-2 shadow-md w-full">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-[7%_12%_12%_12%_13%_17%_23%] gap-2 items-center">
                    <div class="flex justify-center items-center h-[45px]">
                        <img src="{{ profiles ~ 'trofeo.png' }}" class="inline-block h-[45px] w-[45px] rounded-full ring-2 ring-white dark:ring-gray" />
                    </div>
                    <div>
                        <div class="font-bold dark:text-white">{{ games.tournament_type_name }}</div>
                        <p><span class="font-medium">Start:</span>
                            {% if games.start_day %}
                                {{ games.start_day|date('Y-m-d') | default('-') }}
                            {% else %}
                                -
                            {% endif %}
                        </p>
                        <p><span class="font-medium">Location:</span> {{ games.location_name | default('-') }}</p>
                    </div>
                    <div>
                        <p><span class="font-medium">Round:</span> {{ games.round | default('-') }}</p>
                        <p><span class="font-medium">Table:</span> {{ games.table_name | default('-') }}</p>
                        <p><span class="font-medium">Status:</span> {{ games.status | default('-') }}</p>
                    </div>
                    <div>
                        <p><span class="font-medium">Division:</span> {{ games.division_name | default('-') }}</p>
                        <p><span class="font-medium">Date:</span> {{ games.game_date | default('-') }}</p>
                        <p><span class="font-medium">Time:</span> 
                            {% if games.hour %}
                                {{ games.hour|date('h:i a') }}
                            {% else %}
                                -
                            {% endif %}
                        </p>
                    </div>
                    <div>
                        <p><span class="font-medium">Team 1:</span> {{ games.team1_name | default('-') }}</p>
                        <p><span class="font-medium">Team 2:</span> {{ games.team2_name | default('-') }}</p>
                        <p><span class="font-medium">Type:</span> {{ games.game_type | default('-') }}</p>
                    </div>
                    {% if games.game_type == 'Doubles' %}
                        <div>
                            <p><span class="font-medium">Players T1:</span> {{ games.player_one_name | default('-') }} / {{ games.player_two_name | default('-') }}</p>
                            <p><span class="font-medium">Games:</span>
                                {% set display_scores = [] %}
                                {% for i in 1..7 %}
                                    {% set set_score = attribute(games, 'player_one_set_' ~ i) %}
                                    {% if i > 5 and set_score > 0 %}
                                        {% set display_scores = display_scores|merge([set_score]) %}
                                    {% endif %}
                                    {% if i <= 5 %}
                                        {% set display_scores = display_scores|merge([set_score]) %}
                                    {% endif %}
                                {% endfor %}
                                {{ display_scores|join('-') }}
                            </p>
                            <p><span class="font-medium">Players T2:</span> {{ games.player_three_name | default('-') }} / {{ games.player_four_name | default('-') }}</p>
                            <p><span class="font-medium">Games:</span>
                                {% set display_scores = [] %}
                                {% for i in 1..7 %}
                                    {% set set_score = attribute(games, 'player_two_set_' ~ i) %}
                                    {% if i > 5 and set_score > 0 %}
                                        {% set display_scores = display_scores|merge([set_score]) %}
                                    {% endif %}
                                    {% if i <= 5 %}
                                        {% set display_scores = display_scores|merge([set_score]) %}
                                    {% endif %}
                                {% endfor %}
                                {{ display_scores|join('-') }}
                            </p>
                        </div>
                    {% else %}
                        <div>
                            <p><span class="font-medium">Player T1:</span> {{ games.player_one_name | default('-') }}</p>
                            <p><span class="font-medium">Games:</span>
                                {% set display_scores = [] %}
                                {% for i in 1..7 %}
                                    {% set set_score = attribute(games, 'player_one_set_' ~ i) %}
                                    {% if i > 5 and set_score > 0 %}
                                        {% set display_scores = display_scores|merge([set_score]) %}
                                    {% endif %}
                                    {% if i <= 5 %}
                                        {% set display_scores = display_scores|merge([set_score]) %}
                                    {% endif %}
                                {% endfor %}
                                {{ display_scores|join('-') }}
                            </p>
                            <p><span class="font-medium">Player T2:</span> {{ games.player_two_name | default('-') }}</p>
                            <p><span class="font-medium">Games:</span>
                                {% set display_scores = [] %}
                                {% for i in 1..7 %}
                                    {% set set_score = attribute(games, 'player_two_set_' ~ i) %}
                                    {% if i > 5 and set_score > 0 %}
                                        {% set display_scores = display_scores|merge([set_score]) %}
                                    {% endif %}
                                    {% if i <= 5 %}
                                        {% set display_scores = display_scores|merge([set_score]) %}
                                    {% endif %}
                                {% endfor %}
                                {{ display_scores|join('-') }}
                            </p>
                        </div>
                    {% endif %}
                    <div class="col-span-1 sm:col-span-2 lg:col-span-1 flex justify-center items-center space-x-3 relative">
                    {% if is_granted('ROLE_UMPIRE') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER') %}
                        {# <div>
                            <label for="team_{{ games.game_id }}" class="font-medium">Payment:</label>
                            <select id="team_{{ games.game_id}}" name="team" 
                                class="form-select mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-yellow-500 focus:border-yellow-500"
                                onchange="confirmPaymentChange({{ games.game_id }}, this.value)">
                                {% for currentPayment in payment %}
                                    <option value="{{ currentPayment }}" {% if games.is_paid == currentPayment %}selected{% endif %}>
                                        {{ currentPayment }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div> #}
                        {% if games.status == 'Open' %}
                            <button type="button" class="text-yellow-500 text-2xl relative group" data-modal-target="deleteModal-{{ games.game_id }}">
                                <i class="fa-duotone fa-solid fa-user-check"></i>
                                <div class="absolute bottom-full mb-1 hidden group-hover:block bg-gray-700 text-white text-sm rounded py-1 px-2"
                                    style="left: 50%; transform: translateX(-50%) translateX(-3px);">
                                    Register here
                                </div>
                            </button>
                        {% elseif games.status == 'Completed'  %}
                            <button type="button" class="text-gray-400 text-2xl relative group">
                                <i class="fa-duotone fa-solid fa-user-check"></i>
                                <div class="absolute bottom-full mb-1 hidden group-hover:block bg-gray-700 text-white text-sm rounded py-1 px-2"
                                    style="left: 50%; transform: translateX(-50%) translateX(-3px);">
                                    Completed
                                </div>
                            </button>

                            <a href="#" class="text-gray-400 text-2xl relative group">
                                <i class="fas fa-pencil-alt"></i>
                                <div class="absolute bottom-full mb-1 hidden group-hover:block bg-gray-700 text-white text-sm rounded py-1 px-2"
                                    style="left: 50%; transform: translateX(-50%) translateX(-3px);">
                                    Edit
                                </div>
                            </a>

                            <a href="#" class="text-gray-400 text-2xl relative group">
                                <i class="fa-solid fa-clapperboard"></i>
                                <div class="absolute bottom-full mb-1 hidden group-hover:block bg-gray-700 text-white text-sm rounded py-1 px-2"
                                    style="left: 50%; transform: translateX(-50%) translateX(-3px);">
                                    Scoreboard
                                </div>
                            </a>
                            <a href="#" class="text-gray-400 text-2xl relative group">
                                <i class="fa-solid fa-chalkboard-user"></i>
                                <div class="absolute bottom-full mb-1 hidden group-hover:block bg-gray-700 text-white text-sm rounded py-1 px-2"
                                    style="left: 50%; transform: translateX(-50%) translateX(-3px);">
                                    Umpire
                                </div>
                            </a>
                        {% else %}
                            <button type="button" class="text-green-500 text-2xl relative group" data-modal-target="deleteModal-{{ games.game_id }}">
                                <i class="fa-duotone fa-solid fa-user-check"></i>
                                <div class="absolute bottom-full mb-1 hidden group-hover:block bg-gray-700 text-white text-sm rounded py-1 px-2"
                                    style="left: 50%; transform: translateX(-50%) translateX(-3px);">
                                    Leave the tournament
                                </div>
                            </button>

                            <a href="{{ path('app_dashboard_edit_game', {id: games.game_id}) }}" class="text-yellow-500 text-2xl relative group" onclick="showLoadingSpinner()">
                                <i class="fas fa-pencil-alt"></i>
                                <div class="absolute bottom-full mb-1 hidden group-hover:block bg-gray-700 text-white text-sm rounded py-1 px-2"
                                    style="left: 50%; transform: translateX(-50%) translateX(-3px);">
                                    Edit
                                </div>
                            </a>

                            <a href="{{ path('app_scoreboard', {id: games.game_id}) }}" class="text-yellow-500 text-2xl relative group" onclick="showLoadingSpinner()">
                                <i class="fa-solid fa-clapperboard"></i>
                                <div class="absolute bottom-full mb-1 hidden group-hover:block bg-gray-700 text-white text-sm rounded py-1 px-2"
                                    style="left: 50%; transform: translateX(-50%) translateX(-3px);">
                                    Scoreboard
                                </div>
                            </a>
                            <a href="{{ path('app_umpire', {id: games.game_id, display: 0}) }}" class="text-yellow-500 text-2xl relative group" onclick="showLoadingSpinner()">
                                <i class="fa-solid fa-chalkboard-user"></i>
                                <div class="absolute bottom-full mb-1 hidden group-hover:block bg-gray-700 text-white text-sm rounded py-1 px-2"
                                    style="left: 50%; transform: translateX(-50%) translateX(-3px);">
                                    Umpire
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if is_granted('ROLE_PLAYER') %}
                        <div class="flex justify-center items-center h-[45px]">
                            <img src="{{ profiles ~ 'trofeo.png' }}" class="inline-block h-[45px] w-[45px] rounded-full ring-2 ring-white dark:ring-gray" />
                        </div>
                    {% endif %}
                    </div>
                </div>

                <!-- Modal -->
                <div id="deleteModal-{{ games.game_id }}" class="hidden fixed z-10 inset-0 overflow-y-auto">
                    <div class="flex items-center justify-center min-h-screen px-4 text-center">
                        <div class="bg-white rounded-lg p-8 max-w-lg w-full shadow-xl relative dark:bg-gray-700">
                            <h2 class="text-lg font-semibold mb-4">Are you sure you want to continue?</h2>
                            <p class="mb-6">Please verify and confirm the action.</p>
                            <form method="post" action="{{ path('app_dashboard_games', {id: games.game_id}) }}" onsubmit="showLoadingSpinner('{{ games.game_id }}')">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ games.game_id) }}">
                                <div class="flex justify-center">
                                    <button type="submit" id="deleteBtn-{{ games.game_id }}" class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded  mr-2">Submit</button>
                                    <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded" onclick="closeModal('deleteModal-{{ games.game_id }}')">Cancel</button>
                                </div>
                            </form>
                            <div id="spinner-{{ games.game_id }}" class="hidden absolute inset-0 flex items-center justify-center z-20 bg-white bg-opacity-75">
                                <svg class="animate-spin h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                 <!-- paymentChangeModal -->
                <div id="paymentChangeModal-{{ games.game_id }}" class="hidden fixed z-10 inset-0 overflow-y-auto">
                    <div class="flex items-center justify-center min-h-screen px-4 text-center">
                        <div class="bg-white rounded-lg p-8 max-w-lg w-full shadow-xl relative dark:bg-gray-700">
                            <h2 class="text-lg font-semibold mb-4">Are you sure you want to continue?</h2>
                            <p class="mb-6">Please verify and confirm the action.</p>
                            <form method="post" action="{{ path('app_dashboard_payment_change', {id: games.game_id}) }}" onsubmit="showLoadingSpinner('{{ games.game_id }}')">
                                <input type="hidden" name="_token" value="{{ csrf_token('change-team' ~ games.game_id) }}">
                                <input type="hidden" id="new_team_id-{{ games.game_id }}" name="new_team_id">
                                <div class="flex justify-center">
                                    <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded mr-2">Submit</button>
                                    <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded" onclick="closeModal('paymentChangeModal-{{ games.game_id }}')">Cancel</button>
                                </div>
                            </form>
                            <div id="spinner-{{ games.game_id }}" class="hidden absolute inset-0 flex items-center justify-center z-20 bg-white bg-opacity-75">
                                <svg class="animate-spin h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    function confirmPaymentChange(tournamentId, newTeamId) {
                        document.getElementById('new_team_id-' + tournamentId).value = newTeamId;
                        const modal = document.getElementById('paymentChangeModal-' + tournamentId);
                        modal.classList.remove('hidden');
                    }

                    function closeModal(modalId) {
                        document.getElementById(modalId).classList.add('hidden');
                    }

                    function showLoadingSpinner(tournamentId) {
                        const modalContent = document.querySelector('#paymentChangeModal-' + tournamentId + ' > .flex > .relative');
                        modalContent.classList.add('hidden');
                        const spinner = document.getElementById('spinner-' + tournamentId);
                        spinner.classList.remove('hidden');
                    }
                </script>
                <script>
                    document.querySelectorAll('[data-modal-target]').forEach(button => {
                        button.addEventListener('click', function() {
                            const modal = document.getElementById(this.getAttribute('data-modal-target'));
                            modal.classList.remove('hidden');
                        });
                    });

                    function closeModal(modalId) {
                        document.getElementById(modalId).classList.add('hidden');
                    }

                    function showLoadingSpinner(userId) {
                        const modalContent = document.querySelector('#deleteModal-' + userId + ' > .flex > .relative');
                        modalContent.classList.add('hidden');
                        const spinner = document.getElementById('spinner-' + userId);
                        spinner.classList.remove('hidden');
                        const modal = document.getElementById('deleteModal-' + userId);
                        modal.classList.add('hidden');
                    }
                </script>
            </div>
        {% endfor %}
    {% else %}
        <div class="text-center py-4">There's nothing here yet!</div>
    {% endif %}
</div>

</div>
{% if total_pages > 0 %}
<div class="mt-5">
    <nav>
        <ul class="inline-flex items-center -space-x-px w-full justify-center max-w-full">
            {% if current_page > 1 %}
                <li>
                    <a href="{{ path('app_dashboard_games', {page: current_page - 1, sort_by: sort_by, order: order, search_by: search_by, search_value: search_value}) }}" class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-900 dark:border-gray-500 dark:text-white dark:hover:bg-gray-700" onclick="showLoadingSpinner()">Previous</a>
                </li>
            {% else %}
                <li>
                    <span class="px-3 py-2 ml-0 leading-tight text-gray-300 bg-white border border-gray-300 rounded-l-lg dark:bg-gray-800 dark:border-gray-500 dark:text-gray-500">Previous</span>
                </li>
            {% endif %}

            {% if current_page > 3 %}
                <li><span class="px-3 py-2 leading-tight">...</span></li>
            {% endif %}

            {% for page in max(1, current_page - 2)..min(total_pages, current_page + 2) %}
                <li>
                    <a href="{{ path('app_dashboard_games', {page: page, sort_by: sort_by, order: order, search_by_tournament: search_by, search_value: search_value, search_date: search_date}) }}" class="px-3 py-2 leading-tight {{ current_page == page ? 'bg-gray-200 dark:bg-gray-500 dark:border-gray-500' : 'bg-white dark:bg-gray-800 dark:border-gray-500' }} border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:hover:text-white dark:hover:bg-gray-400" onclick="showLoadingSpinner()">{{ page }}</a>
                </li>
            {% endfor %}

            {% if current_page < total_pages - 2 %}
                <li><span class="px-3 py-2 leading-tight">...</span></li>
            {% endif %}

            {% if current_page < total_pages %}
                <li>
                    <a href="{{ path('app_dashboard_games', {page: current_page + 1, sort_by: sort_by, order: order, search_by_tournament: search_by, search_value: search_value, search_date: search_date}) }}" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-900 dark:border-gray-500 dark:text-white dark:hover:bg-gray-700" onclick="showLoadingSpinner()">Next</a>
                </li>
            {% else %}
                <li>
                    <span class="px-3 py-2 leading-tight text-gray-300 bg-white border border-gray-300 rounded-r-lg dark:bg-gray-800 dark:border-gray-500 dark:text-gray-500">Next</span>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}

<!-- Loading -->
<script>
    function showLoadingSpinner() {
        document.getElementById('loading-spinner').style.display = 'flex';
    }

    window.addEventListener('pageshow', function() {
        document.getElementById('loading-spinner').style.display = 'none';
    });
</script>
