<div id="loading-spinner" class="fixed inset-0 flex items-center justify-center bg-gray-100 bg-opacity-50 dark:bg-gray-900 dark:bg-opacity-50 z-50" style="display: none;">
    <svg class="w-16 h-16 text-gray-500 animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
    </svg>
</div>

<div class="overflow-x-auto">
<div class="mt-2 mb-3 flex flex-col sm:flex-row justify-between items-start sm:items-center">
    <form method="GET" action="{{ path('app_dashboard_settings') }}" class="flex flex-col sm:flex-row w-full sm:w-auto items-start sm:items-center">
        <select name="search_by" class="border border-gray-300 rounded px-2 py-1 h-10 w-full sm:w-[12rem] dark:bg-gray-700 dark:text-white dark:border-gray-600">
            <option value="tournament_type" {{ search_by == 'tournament_type' ? 'selected' : '' }}>Tournaments</option>
            <option value="days_off" {{ search_by == 'days_off' ? 'selected' : '' }}>Days Off</option>
            <option value="divisions" {{ search_by == 'divisions' ? 'selected' : '' }}>Divisions</option>
            <option value="table_type" {{ search_by == 'table_type' ? 'selected' : '' }}>Tables</option>
            <option value="parameters" {{ search_by == 'parameters' ? 'selected' : '' }}>Parameters</option>
            <option value="directors" {{ search_by == 'directors' ? 'selected' : '' }}>Directors</option>
        </select>
        <button type="submit" class="mt-2 sm:mt-0 sm:ml-2 bg-yellow-500 text-white py-2 px-4 rounded h-10 hover:bg-yellow-600" onclick="showLoadingSpinner()">Search</button>
    </form>
    {% if setting_type == 1 %}
        <a href="{{ path('app_dashboard_settings_tournament') }}" class="mt-2 sm:mt-0 bg-yellow-500 text-white py-2 px-4 rounded h-10 hover:bg-yellow-600 flex items-center justify-center" onclick="showLoadingSpinner()">Create</a>
    {% endif %}
    {% if setting_type == 2 %}
        <a href="{{ path('app_dashboard_settings_days_off') }}" class="mt-2 sm:mt-0 bg-yellow-500 text-white py-2 px-4 rounded h-10 hover:bg-yellow-600 flex items-center justify-center" onclick="showLoadingSpinner()">Create</a>
    {% endif %}
    {% if setting_type == 3 %}
        <a href="{{ path('app_dashboard_settings_divisions') }}" class="mt-2 sm:mt-0 bg-yellow-500 text-white py-2 px-4 rounded h-10 hover:bg-yellow-600 flex items-center justify-center" onclick="showLoadingSpinner()">Create</a>
    {% endif %}
    {% if setting_type == 4 %}
        <a href="{{ path('app_dashboard_settings_table_type') }}" class="mt-2 sm:mt-0 bg-yellow-500 text-white py-2 px-4 rounded h-10 hover:bg-yellow-600 flex items-center justify-center" onclick="showLoadingSpinner()">Create</a>
    {% endif %}
        {% if setting_type == 6 %}
        <a href="{{ path('app_dashboard_settings_directors') }}" class="mt-2 sm:mt-0 bg-yellow-500 text-white py-2 px-4 rounded h-10 hover:bg-yellow-600 flex items-center justify-center" onclick="showLoadingSpinner()">Create</a>
    {% endif %}
</div>
<div class="space-y-2">
    {% if tournament_settings|length > 0 %}
        {% for settings in tournament_settings %}
            {% if setting_type == 1 %}
                {{ include('settings/_settings_tournament.html.twig') }}
            {% endif %}
            {% if setting_type == 2 %}
                {{ include('settings/_settings_daysOff.html.twig') }}
            {% endif %}
            {% if setting_type == 3 %}
                {{ include('settings/_settings_divisions.html.twig') }}
            {% endif %}
            {% if setting_type == 4 %}
                {{ include('settings/_settings_tables.html.twig') }}
            {% endif %}
            {% if setting_type == 5 %}
                {{ include('settings/_settings_parameters.html.twig') }}
            {% endif %}
            {% if setting_type == 6 %}
                {{ include('settings/_settings_directors.html.twig') }}
            {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class="text-center py-4">There's nothing here yet!</div>
    {% endif %}
    </div>
</div>
{% if total_pages > 0 %}
<div class="mt-5">
    <nav>
        <ul class="inline-flex items-center -space-x-px w-full justify-center max-w-full">
            {% if current_page > 1 %}
                <li>
                    <a href="{{ path('app_dashboard_settings', {page: current_page - 1, sort_by: sort_by, order: order, search_by: search_by}) }}" class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-900 dark:border-gray-500 dark:text-white dark:hover:bg-gray-700" onclick="showLoadingSpinner()">Previous</a>
                </li>
            {% else %}
                <li>
                    <span class="px-3 py-2 ml-0 leading-tight text-gray-300 bg-white border border-gray-300 rounded-l-lg dark:bg-gray-800 dark:border-gray-500 dark:text-gray-500">Previous</span>
                </li>
            {% endif %}

            {% if current_page > 3 %}
                <li><span class="px-3 py-2 leading-tight">...</span></li>
            {% endif %}

            {% for page in max(1, current_page - 2)..min(total_pages, current_page + 2) %}
                <li>
                    <a href="{{ path('app_dashboard_settings', {page: page, sort_by: sort_by, order: order, search_by: search_by}) }}" class="px-3 py-2 leading-tight {{ current_page == page ? 'bg-gray-200 dark:bg-gray-500 dark:border-gray-500' : 'bg-white dark:bg-gray-800 dark:border-gray-500' }} border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:hover:text-white dark:hover:bg-gray-400" onclick="showLoadingSpinner()">{{ page }}</a>
                </li>
            {% endfor %}

            {% if current_page < total_pages - 2 %}
                <li><span class="px-3 py-2 leading-tight">...</span></li>
            {% endif %}

            {% if current_page < total_pages %}
                <li>
                    <a href="{{ path('app_dashboard_settings', {page: current_page + 1, sort_by: sort_by, order: order, search_by: search_by}) }}" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-900 dark:border-gray-500 dark:text-white dark:hover:bg-gray-700" onclick="showLoadingSpinner()">Next</a>
                </li>
            {% else %}
                <li>
                    <span class="px-3 py-2 leading-tight text-gray-300 bg-white border border-gray-300 rounded-r-lg dark:bg-gray-800 dark:border-gray-500 dark:text-gray-500">Next</span>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}

<script>
    function showLoadingSpinner() {
        document.getElementById('loading-spinner').style.display = 'flex';
    }

    window.addEventListener('pageshow', function() {
        document.getElementById('loading-spinner').style.display = 'none';
    });
</script>
