{% extends 'base.html.twig' %}

{% block title %}Tournaments → Create{% endblock %}

{% block bread %}
→ <a href="{{ path('app_dashboard_tournament') }}">Tournaments</a> → Create
{% endblock %}

{% block body %}
    <div class="flex items-center justify-center mt-7 bg-gray-50 dark:bg-gray-900">
        <div class="w-full mx-auto">
            <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="rounded-md p-2 border-red-300 bg-red-50 border dark:border-red-600 dark:bg-red-700 dark:text-white mb-4" role="alert">{{ flash_error }}</div>
                {% endfor %}

                {{ form_errors(form) }}

                {{ form_start(form) }}
                <div class="text-xl">
                    Create a tournament
                </div>
                <div class="text-gray-500 mb-4 pb-4 border-b border-gray-300">
                    Complete the requested information
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        {{ form_label(form.tournament_type, 'Tournament Type', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                        {{ form_widget(form.tournament_type, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
                        {{ form_errors(form.tournament_type) }}
                    </div>

                    <div>
                        {{ form_label(form.location, 'Location', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                        {{ form_widget(form.location, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
                        {{ form_errors(form.location) }}
                    </div>

                    <div>
                        {{ form_label(form.start_day, 'Start Day', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                        {{ form_widget(form.start_day, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
                        {{ form_errors(form.start_day) }}
                    </div>

                    <div>
                        {{ form_label(form.end_day, 'End Day', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                        {{ form_widget(form.end_day, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
                        {{ form_errors(form.end_day) }}
                    </div>

                    <div>
                        {{ form_label(form.hour, 'Hour', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                        {{ form_widget(form.hour, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
                        {{ form_errors(form.hour) }}
                    </div>

                    <div>
                        {{ form_label(form.number_of_tables, 'Number of Tables', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                        {{ form_widget(form.number_of_tables, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
                        {{ form_errors(form.number_of_tables) }}
                    </div>

                    <div>
                        {{ form_label(form.players, 'Number of Players', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                        {{ form_widget(form.players, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
                        {{ form_errors(form.players) }}
                    </div>

                    <div>
                        {{ form_label(form.status, 'Status', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                        {{ form_widget(form.status, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
                        {{ form_errors(form.status) }}
                    </div>

                </div>

                <div>
                    <button type="submit" class="block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">
                        {{ isEdit ? 'Update' : 'Create' }}
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
